@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MonoplexKR-Regular;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    @apply font-sans;
  }

  body {
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-head;

    font-weight: 500;
    margin: 0 0 0.5rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 3.052em;
  }

  h2 {
    font-size: 2.441em;
  }

  h3 {
    font-size: 1.953em;
  }

  h4 {
    font-size: 1.563em;
  }

  h5 {
    font-size: 1.25em;
  }

  strong,
  b {
    font-weight: 700;
  }

  p {
    margin-bottom: 2rem;
  }

  hr {
    margin: 1rem 25%;
    border: none;
    border-top: 1px solid #6b7280;
  }
}

@layer components {
  .grill-background {
    position: relative;
    overflow: hidden;
  }

  .grill-background::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    mask-size: 100%;
    mask-image: url("/images/grill.png");
    mask-repeat: repeat;
  }
}

@layer utilities {
  .hover-fill-to-right::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .hover-fill-to-right {
    position: relative;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    transition: background-size 0.25s ease-out;
  }

  .hover-fill-to-right:hover {
    background-size: 100% 100%;
  }

  .slide-to-top {
    animation: slide-to-top 700ms ease-out;
  }

  @keyframes slide-to-top {
    0% {
      transform: translate(0, 20%);
      opacity: 0;
    }

    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
