.content {
  font-size: clamp(1rem, 0.957rem + 0.217vw, 1.125rem);
  line-height: clamp(1.5, 1.413 + 0.435vw, 1.75);
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
  word-break: keep-all;
  margin-bottom: .25em;
}

.content strong,
.content b {
  font-weight: 700;
}

.content a {
  @apply text-blue-600;

  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  transition: background-size 0.25s ease-out;
}

:not(.dark) .content a {
  background-image: radial-gradient(black, black);
}

.dark .content a {
  background-image: radial-gradient(white, white);
}

.content a:hover {
  @apply text-blue-800;

  background-size: 100% 2px;
}

.content p {
  margin-bottom: 1em;
  word-break: keep-all;
  max-width: 75ch;
}

.content textarea {
  width: 100%;
  font-size: 16px;
  margin-bottom: 2em;
}

.content input {
  font-size: 16px;
}

.content table {
  width: 100%;
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.content code {
  @apply font-mono;

  padding: .1em .25em;
  margin: 0 .1em;
  border-radius: .25em;
}

:not(.dark) .content code {
  @apply bg-gray-300;
}

.dark .content code {
  @apply bg-gray-600;
}

:not(.dark) .content pre > code {
  all: unset;
}

.dark .content pre > code {
  all: unset;
}

.content pre {
  padding: 2em 1.5em 1.5em 0;
  border-radius: 8px;
  margin-bottom: 2em;
  position: relative;
}

.content pre[data-language]::before {
  content: attr(data-language);
  display: block;
  width: 100%;
  text-align: right;
  font-size: 0.75em;
  position: sticky;
  margin-top: -2em;
  top: -2em;
  left: 1em;
  margin-right: -1em;
  @apply text-gray-400;
}

.content pre {
  counter-reset: step;
  counter-increment: step 0;
}

.content pre code .line::before {
  counter-increment: step 1;
  content: counter(step);
  margin-right: .75em;
  padding-right: .75em;
  border-right: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  width: 3em;
  text-align: right;
  @apply border-gray-600 text-gray-400;
}

.content blockquote {
  border-left: 4px solid;
  padding: 0 0 0 1.5rem;
  margin: .5em 0;
}

:not(.dark) .content blockquote {
  @apply border-l-gray-300 text-gray-600;
}

.dark .content blockquote {
  @apply border-l-gray-500 text-gray-300;
}

.content ol {
  list-style: decimal inside;
}

.content ul {
  list-style: "- " inside;
}

.content li > ol {
  padding-left: 1.5rem;
}

.content li > ul {
  padding-left: 1.5rem;
}

.content th {
  border-bottom: 0.125rem solid;
}

.content td {
  border-bottom: 0.0625rem solid;
}

:not(.dark) .content th {
  @apply border-gray-700;
}

.dark .content th {
  @apply border-white;
}

.content p>img {
  margin-bottom: -.5em;
}
