@reference './global.css';

:not(.dark) {
  --category-rust-bg: #991b1b;
  --category-rust-text: #fff;
  --category-web-bg: #0e7490;
  --category-web-text: #fff;
  --category-uncategorized-bg: #1f2937;
  --category-uncategorized-text: #fff;
}

.dark {
  --category-rust-bg: #991b1b;
  --category-rust-text: #fff;
  --category-web-bg: #0e7490;
  --category-web-text: #fff;
  --category-uncategorized-bg: #1f2937;
  --category-uncategorized-text: #fff;
}
