---
import { AnimatedLogo } from "../components/AnimatedLogo";
import { GrillContainer } from "../components/GrillContainer";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="flex flex-col items-stretch justify-start">
    <GrillContainer
      containerClassOverride="slide-to-top py-8 px-6 lg:mx-auto h-full w-full max-w-[96rem] flex flex-col items-center justify-center gap-2"
    >
      <p
        class="py-2 px-2 m-0 font-head font-bold text-5xl bg-gray-800 text-white
          dark:bg-white dark:text-gray-800"
      >
        Under Construction...
      </p>
    </GrillContainer>
  </main>
</Layout>
