---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Intro } from "../components/Intro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { PostItem } from "../components/PostItem";
import { Button } from "../components/Button";
import { Container } from "../components/Container";
const posts = (await getCollection("blog"))
  .filter((post) => post.data.hidden !== true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="w-full flex flex-col items-stretch justify-start">
    <Intro />
    <Container varient="wide">
      <div class="mb-4 flex items-center justify-between">
        <h2 class="uppercase">Recent posts</h2>
        <Button href="/post">글 더 보기...</Button>
      </div>
      <div class="flex flex-col gap-8">
        {posts.map((post) => <PostItem post={post} client:only="solid-js" />)}
      </div>
    </Container>
  </main>
</Layout>
