.nav-link {
  @apply font-head;

  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-left: 0.1rem;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  transition: background-size 0.25s ease-out;
}

:not(.dark) .nav-link {
  background-image: radial-gradient(black, black);
}

.dark .nav-link {
  background-image: radial-gradient(white, white);
}

.nav-link:hover {
  background-size: 100% 2px;
}

.link-selected {
  font-weight: 500;
}
