li {
    line-height: 1.7rem;
    margin: 0.5rem 0;
}

li>ul {
    padding-left: 1.5rem;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-exit-active {
    transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-exit-to {
    transform: translateY(10px);
    opacity: 0;
}