---
import BaseHead from "@/components/shell/BaseHead.astro";
import { Footer } from "@/components/shell/Footer";
import Header from "@/components/shell/Header.astro";
import "@/styles/theme.css";

const { title, description, image = "/images/logo.png" } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const page = pathname.slice(1);
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead {title} {description} {image} />
  </head>
  <body
    class="relative -z-30 flex flex-col bg-slate-50 dark:bg-slate-900 dark:text-white transition-colors"
  >
    <div class="relative -z-20 bg-white dark:bg-slate-950 transition-colors">
      <Header {page} />
      <slot />
    </div>

    <Footer />
  </body>
</html>
