.switch-transform {
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.switch-transform:not(.enabled) {
  transform: translate(-1rem, -0.65rem) rotate(-135deg);
}

.switch-transform.enabled {
  transform: translate(1.25rem, -0.65rem) rotate(0deg);
}
