@reference "@/styles/global.css";

.switch-transform {
  transition: transform 0.5s;

  @apply spring-bounce-10 spring-duration-500;
}

.switch-transform:not(.enabled) {
  transform: translate(-1rem, -0.65rem) rotate(-135deg);
}

.switch-transform.enabled {
  transform: translate(1.25rem, -0.65rem) rotate(0deg);
}
